@media screen and (min-width:391px) {

    body {
        width: 1400px; 
           .loader {             
            margin: 50%;   
        } 

        /**fonctionnement**/
        .fonctionnement_family{
            display: flex;
       
            .fonctionnement_card {
               width: 35%;
                margin-right: 2%;
            }
        }

        /**Restaurant**/
        .restaurants__family {
            display: flex;
        
            .restaurants__subfamily {
                margin-top: 2%;
                width: 50%;
                margin-right: 5%;
            
                .restaurants__card {
                    width: 100%;
                    margin-bottom: 10%;
                }
            }
        }
        
        .menu {
           width: 80%;
           margin-left:  10%;

           .menu_categories{
            width: 60%;
            margin-left:  20%
           }
        }
    } 
}

