    /*Colors*/

    //Les variable
$cd-btn-Primaire :#9356DC;
$cd-btn-Secondaire:#FF79DA;
$cd-Tertiaire:#99E2D0;
$cd-bkg:#f6f6f6;
$cd-shadow:#f7f2f2;
$color-txt:#000;
$bkg-foot:#313131;
$color-w: white;

 

