
body{
    width: 390px;  
    font-family: 'roboto', sans-serif;

    h1{
        font-family: 'Shrikhand', sans-serif;
    }

    .Roboto_bold {
        font-family: 'roboto', sans-serif;
            
    }
    .Roboto_light {
        font-family: 'roboto', sans-serif;
    }
}